/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

span.icon-check-circle {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fdfdfd' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M22 11.08v12a10 10 0 1 1-5.93-9.14'%3E%3C/path%3E%3Cpolyline points='22 4 12 14.01 9 11.01'%3E%3C/polyline%3E%3C/svg%3E");
}

span.icon-star {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-star'%3E%3Cpolygon points='12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2'%3E%3C/polygon%3E%3C/svg%3E");
}

:root {
  --ballot-item-border-color: #ddd;
  --ballot-item-back-color: #eee;
  --ballot-input-back-color: #ddd;
  --ballot-input-color: #333;
  color-scheme: light;
}

.dark-theme {
  --ballot-item-border-color: #f0f0f0;
  --ballot-item-back-color: #444;
  --ballot-input-back-color: #aaa;
  --ballot-input-color: #333;
  --fore-color: #fdfdfd;
  --secondary-fore-color: #f0f0f0;
  --back-color: #111;
  --secondary-back-color: #222;
  --blockquote-color: #f57c00;
  --pre-color: #1565c0;
  --border-color: #ddd;
  --secondary-border-color: #aaa;
  --heading-ratio: 1.19;
  --universal-margin: 0.5rem;
  --universal-padding: 0.5rem;
  --universal-border-radius: 0.125rem;
  --a-link-color: #0277bd;
  --a-visited-color: #01579b;
  --card-back-color: #111;
  --card-fore-color: #fdfdfd;
  --card-border-color: #aaa;
  --form-back-color: #222;
  --form-fore-color: #fdfdfd;
  --form-border-color: #aaa;
  --input-back-color: #111;
  --input-fore-color: #fdfdfd;
  --input-border-color: #aaa;
  --input-focus-color: #0288d1;
  --input-invalid-color: #d32f2f;
  --button-back-color: #212121;
  --button-hover-back-color: #444;
  --button-fore-color: #e2e2e2;
  --button-border-color: transparent;
  --button-hover-border-color: transparent;
  --button-group-border-color: rgba(124, 124, 124, 0.54);
  --header-back-color: #111;
  --header-hover-back-color: #222;
  --header-fore-color: #f0f0f0;
  --header-border-color: #aaa;
  --nav-back-color: #111;
  --nav-hover-back-color: #222;
  --nav-fore-color: #f0f0f0;
  --nav-border-color: #aaa;
  --nav-link-color: #0277bd;
  --footer-fore-color: #f0f0f0;
  --footer-back-color: #111;
  --footer-border-color: #aaa;
  --footer-link-color: #0277bd;
  --drawer-back-color: #111;
  --drawer-hover-back-color: #222;
  --drawer-border-color: #aaa;
  --drawer-close-color: #f0f0f0;
  --table-border-color: #ddd;
  --table-border-separator-color: #666;
  --table-head-back-color: #212121;
  --table-head-fore-color: #fdfdfd;
  --table-body-back-color: #111;
  --table-body-fore-color: #fdfdfd;
  --table-body-alt-back-color: #444;
  --table-body-hover-back-color: #5c819f;
  --mark-back-color: #0277bd;
  --mark-fore-color: #fafafa;
  --toast-back-color: #424242;
  --toast-fore-color: #fafafa;
  --tooltip-back-color: #fafafa;
  --tooltip-fore-color: #212121;
  --modal-overlay-color: rgba(0, 0, 0, 0.45);
  --modal-close-color: #f0f0f0;
  --modal-close-hover-color: #222;
  --collapse-label-back-color: #111;
  --collapse-label-fore-color: #fafafa;
  --collapse-label-hover-back-color: #222;
  --collapse-selected-label-back-color: #444;
  --collapse-border-color: #aaa;
  --collapse-content-back-color: #212121;
  --collapse-selected-label-border-color: #0277bd;
  --mark-back-color: #d32f2f;
  --mark-back-color: #308732;
  --progress-back-color: #aaa;
  --progress-fore-color: #555;
  --spinner-back-color: #ddd;
  --spinner-fore-color: #555;
  --generic-border-color: rgba(0, 0, 0, 0.3);
  --generic-box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.125), 0 0.125rem 0.125rem -0.125rem rgba(0, 0, 0, 0.125);
  color-scheme: dark;
  accent-color: #f57c00;
}

.dark-theme .card.warning {
  --card-back-color: #ffca28;
  --card-fore-color: #111;
  --card-border-color: #e8b825;
}

.dark-theme .card.error {
  --card-back-color: #b71c1c;
  --card-fore-color: #f8f8f8;
  --card-border-color: #a71a1a;
}

.dark-theme .card > .section.dark {
  --card-back-color: #e0e0e0;
  --card-fore-color: #111;
}

.dark-theme button.primary, [type="button"].primary, [type="submit"].primary, [type="reset"].primary, .button.primary, [role="button"].primary {
  --button-back-color: #1976d2;
  --button-fore-color: #f8f8f8;
}

.dark-theme button.primary:hover, button.primary:focus, [type="button"].primary:hover, [type="button"].primary:focus, [type="submit"].primary:hover, [type="submit"].primary:focus, [type="reset"].primary:hover, [type="reset"].primary:focus, .button.primary:hover, .button.primary:focus, [role="button"].primary:hover, [role="button"].primary:focus {
  --button-hover-back-color: #1565c0;
}

.dark-theme button.secondary, [type="button"].secondary, [type="submit"].secondary, [type="reset"].secondary, .button.secondary, [role="button"].secondary {
  --button-back-color: #d32f2f;
  --button-fore-color: #f8f8f8;
}

.dark-theme button.secondary:hover, button.secondary:focus, [type="button"].secondary:hover, [type="button"].secondary:focus, [type="submit"].secondary:hover, [type="submit"].secondary:focus, [type="reset"].secondary:hover, [type="reset"].secondary:focus, .button.secondary:hover, .button.secondary:focus, [role="button"].secondary:hover, [role="button"].secondary:focus {
  --button-hover-back-color: #c62828;
}

.dark-theme button.tertiary, [type="button"].tertiary, [type="submit"].tertiary, [type="reset"].tertiary, .button.tertiary, [role="button"].tertiary {
  --button-back-color: #308732;
  --button-fore-color: #f8f8f8;
}

.dark-theme button.tertiary:hover, button.tertiary:focus, [type="button"].tertiary:hover, [type="button"].tertiary:focus, [type="submit"].tertiary:hover, [type="submit"].tertiary:focus, [type="reset"].tertiary:hover, [type="reset"].tertiary:focus, .button.tertiary:hover, .button.tertiary:focus, [role="button"].tertiary:hover, [role="button"].tertiary:focus {
  --button-hover-back-color: #277529;
}

.dark-theme button.inverse, [type="button"].inverse, [type="submit"].inverse, [type="reset"].inverse, .button.inverse, [role="button"].inverse {
  --button-back-color: #f8f8f8;
  --button-fore-color: #212121;
}

.dark-theme button.inverse:hover, button.inverse:focus, [type="button"].inverse:hover, [type="button"].inverse:focus, [type="submit"].inverse:hover, [type="submit"].inverse:focus, [type="reset"].inverse:hover, [type="reset"].inverse:focus, .button.inverse:hover, .button.inverse:focus, [role="button"].inverse:hover, [role="button"].inverse:focus {
  --button-hover-back-color: #f0f0f0;
}

.dark-theme progress.primary {
  --progress-fore-color: #1976d2;
}

.dark-theme progress.secondary {
  --progress-fore-color: #d32f2f;
}

.dark-theme progress.tertiary {
  --progress-fore-color: #308732;
}

.dark-theme .spinner.primary {
  --spinner-fore-color: #1976d2;
}

.dark-theme .spinner.secondary {
  --spinner-fore-color: #d32f2f;
}

.dark-theme .spinner.tertiary {
  --spinner-fore-color: #308732;
}

@media screen and (max-width: 600px) {
  #contentWrapper {
    padding: 0 0;
  }
}

@media screen and (min-width: 768px) {
  #contentWrapper {
    padding: 0 5%;
  }
}

@media screen and (min-width: 1280px) {
  #contentWrapper {
    padding: 0 10%;
  }
}

@media screen and (min-width: 1600px) {
  #contentWrapper {
    padding: 0 20%;
  }
}
