<style>
	#gitlab_logo {
		height: 35px;
		padding: 5px;
		vertical-align: middle;
		border: 1px solid;
		border-radius: 5px;
	}
</style>

<h2 class="routetitle">About</h2>

<h4>So far this is a learning experiment</h4>

<p>An excuse for me to play with Svelte and write and think about voting systems.</p>

<p>It might be useful as a voting kiosk PWA app that others could use someday for non critical things like your neighborhood chili cookoff or some such thing.</p>

<h5>Source Code available at 
	<a href="https://gitlab.com/aeischeid/voting-machine">
		<img src="https://about.gitlab.com/images/logos/wm_web.svg" alt="gitlab logo" id="gitlab_logo" />
	</a>
</h5>

<hr />

<ol>
	<li>
		Someone creates a single item poll.
	</li>
	<li>
		Voters each take a turn at the submitting their ballot on this same device
	</li>
	<li>
		When all votes are in the ballot creator ends the poll and a report is generated.
	</li>
</ol>
<hr>

<h3>Learn More</h3>
<ul>
	<li><a href="https://www.fairvote.org/" target="_blank" rel="noreferrer">Fair Vote</a> - generally good info about election reform, and Ranked Choice Voting in particular</li>
	<li>
		<a href="https://www.starvoting.us/" target="_blank" rel="noreferrer">Star Vote</a> - generally good info about election reform, and STAR Voting in particular with some more in depth discussion around the intricacies of election science.
	</li>
	<li>
		<a href="https://www.amazon.com/Breaking-Two-Party-Doom-Loop-Multiparty/dp/0190913851">Breaking the Two-Party Doom Loop</a> - takes a look at how current election systems in the US have lead to a bad situation. Better voting systems are one of the points in a rather simple but multipronged solution. 
	</li>
</ul>

<h3>Alternatives</h3>
<p>Fair Vote, Star Vote, and others offer online poll systems. Voters will each need their own signup and or their own device to vote. For some situations this may be preferable, but for some it is burdonsome.</p>
<ul>
	<li><a href="https://rankit.vote/home">https://rankit.vote/home</a></li>
	<li><a href="https://rankedchoices.com/home">https://rankedchoices.com/home</a></li>
	<li><a href="https://star.vote/">https://star.vote/</a></li>
	<li>STAR paper ballot template <a href="https://docs.google.com/presentation/d/1va-XEsUy0VI0jCTAHrQ_f9HNKex3VK9cm7WfF6jhUYM/">on Google Docs</a></li>
	<li>RCV paper ballot generator ... </li>
</ul>

<hr>
<h3>Roadmap</h3>
<ul>
	<li>Full offline functionally / installable PWA should be achievable.</li>
	<li>
		Pretty reports for Ranked Round runnoff to help people understand the ways votes transfer.
		ideally using something like this <a href="https://observablehq.com/@matrixfrog/2020-san-francisco-district-7-results">Report of San Francisco's municipal election</a>
	</li>
	<li>
		Multiple winner districts are an important element discussed when it comes to electoral reform to achieve some 
		type of proportional representation but they are a bit more complex - still working on getting this to work in this app.
	</li>
	<li>
		Include image and or info url for poll candidates
	</li>
	<li>
		Being able to create polls with multiple items is pretty realistic for political situations. Currently I am working on only simple single item ballots, but once I have that nailed down really well, maybe multiple item polls would be good. Or multiple polls could be active at once and voters could chose to vote in each?
	</li>
</ul>

<hr>

<h3>Credits</h3>
<ul>
	<li>Svelte</li>
	<li>Typescript</li>
	<li>Mini.css</li>
	<li>Svelte-persistent-store</li>
  <li>Svelte-spa-router</li>
</ul>
