

<script lang="ts">
	import NoPoll from './NoPoll.svelte';
	import { poll, ballotEntries } from './store.js';
	import { push } from 'svelte-spa-router';
	import type { Poll } from './main';

	let pollPassword;

	// TODO: should base64 encode $poll.password at least.
	function isPasswordValid() {
		if (pollPassword != $poll.password) {
			alert('nope, sorry.')
			return false
		} else {
			return true
		}
	}

	function unlockPoll(_ev) {
		if (isPasswordValid) {
			poll.update(p => {
				return {
					...p, status:'unlocked'
				}
			})
		}
		push('/tally');
	}

	function closePoll(_ev) {
		if (isPasswordValid) {
			poll.update(p => {
				return {
					...p, status:'closed'
				}
			})
		}
	}

	function openPoll(_ev) {
		if (isPasswordValid) {
			poll.update(p => {
				return {
					...p, status:'open'
				}
			})
		}
	}

	function deletePoll(_ev) {
		if (isPasswordValid) {
			poll.set({
				name: '',
				description: '',
				items: [],
				password: '',
				limitBallots: false,
				expectedVoters: 0,
				status: 'undefined',
				type: 'RCV',
				winnerCount: 0,
			});
		}
	}
</script>

<style>
	textarea {
		width: 90%;
		height: 350px;
	}
</style>


<h2 class="routetitle">Admin</h2>
{#if $poll.status != 'undefined'}
	<h3>Poll: {$poll.name} - {$poll.description}</h3>
	<p>Status: {$poll.status}</p>
	<div class="collapse">
		<input type="checkbox" id="collapse-section1" aria-hidden="true">
		<label for="collapse-section1" aria-hidden="true">Poll details ...</label>
		<div>
			<p>This is poll details, candidates etc.</p>
			<textarea>{JSON.stringify($poll, null, '\t')}</textarea>
		</div>
		<input type="checkbox" id="collapse-section2" aria-hidden="true">
		<label for="collapse-section2" aria-hidden="true">Ballot details ...</label>
		<div>
			<p>This is ballot details ... number of completed ballots etc.</p>
			<textarea>{JSON.stringify($ballotEntries, null, '\t')}</textarea>
		</div>
	</div>
	<form on:submit|preventDefault={unlockPoll}>
		{#if ($poll.password)}
			<label for="pollPassword">
				Poll password
			</label>
			<input type="password" name="pollPassword" bind:value={pollPassword} required/>
		{/if}
		<button type="button" on:click={openPoll} class="tertiary">
			{($poll.status != 'open') ? 'Re-open': 'open'}
		</button>
		{#if ($poll.status == 'open')}
			<button type="button" on:click={closePoll} class="inverse">Close</button>
		{/if}
		<hr>
		{#if ($poll.status == 'unlocked')}
			<button type="button" class="primary large" on:click={()=> push('/tally')} >View Poll Results</button>
			<button type="button" class="secondary large" on:click={deletePoll} >Delete Poll</button>
		{:else}
			<button type="submit" class="primary large">Unlock Poll & Tally Votes</button>
		{/if}
</form>
{:else}
	<NoPoll />
{/if}