<script lang="ts">
	import NavDrawer from './NavDrawer.svelte';
	import Ballot from './Ballot.svelte';
	import Tally from './Tally.svelte';
	import Landing from './Landing.svelte'
	import BallotBuilder from './BallotBuilder.svelte';
	import NotFound from './NotFound.svelte';
	import About from './About.svelte';
	import Admin from './Admin.svelte';
	import Router, {push} from 'svelte-spa-router';
	import Help from './Help.svelte';
	import Theme, {themeSetter}from './Theme.svelte';
	import { onMount } from 'svelte';
	import { theme } from './store.js';

	// TODO: decide if vote or poll builder should be the default route.
	// - Ballot component has a 'no poll' case to route to the builder
	// maybe that is better as default route to handle voters mucking up something?
	const routes = {
		// Exact path
		'/': Landing,
		'/build/': BallotBuilder,
		'/vote/': Ballot,
		'/tally/': Tally,
		'/about/': About,
		'/admin/': Admin,
		'/help/': Help,
		'/theme/': Theme,

		// Catch-all
		// This is optional, but if present it must be the last
		'*': NotFound,
	}

	onMount( ()=> {
		console.log('expect to be settting theme Here')
		themeSetter($theme)
	})

</script>

<header class="sticky">
	<div class="container">
		<div class="row cols-sm-4">
			<div>
				<span class="logo"><img src="/check-circle.svg" alt="logo" />  Voting Machine</span>
				<button type='button' class="button" on:click={() => push('/')}>Home</button>
			</div>
			<div></div>
			<div>
				<NavDrawer />
			</div>
		</div>
	</div>
</header>

<section id="contentWrapper">
	<Router {routes}/>
</section>
