<script lang="ts">
	import { push } from 'svelte-spa-router';
	import { poll, ballotEntries } from './store.js';
	import type { Poll, PollItem } from './main';

	// because we can get here from a route now we need to detect if we SHOULD be here
	// and provide a menu to route away to /vote or /admin if a poll is in progress

	// export let newPoll
	let name= ''
	let description = ''
	let items: PollItem[] = [
		{ active: true, label: 'candidate 1', id:45, description:'judge not by order in the list'},
		{ active: true, label: 'candidate 2', id:124, description:'middle not mediocre'},
		{ active: true, label: 'candidate 3', id:203, description:'last not least'}
	]
	let password = ''
	let expectedVoters = 3
	let limitBallots = true
	let pollType: 'RCV' | 'Star' = 'RCV'
	let winnerCount = 1

	
	function shouldAbandonExistingPoll(): Promise<boolean> {
		let reusableDialog = document.getElementById('reusableDialog') as HTMLDialogElement
		document.getElementById('reusableDialogContent').innerHTML = `<h2>Abandon</h2><p>Abandon currently unfinished poll: ${$poll.name}?</p>`
		reusableDialog.showModal()
		
		let answer: Promise<boolean> = new Promise((resolve, reject) => {
			// "Confirm" button of form triggers "close" on dialog because of [method="dialog"]
			reusableDialog.addEventListener('close', () => {
				if (reusableDialog.returnValue === 'confirm') {
					resolve(true)
				} else {
					resolve(false)
				}
			})
		})

		return answer
	}

	async function buildPoll(_ev: Event) {
		// confirm to replace existing poll.
		let existingPoll = ($poll && ($poll.status == 'open'))
		// let shouldOverwrite = confirm(`Abandon currently unfinished poll: ${$poll.name}?`)
		let shouldOverwrite: boolean
		if (existingPoll) {
			shouldOverwrite = await shouldAbandonExistingPoll()
		}

		console.log(existingPoll, $poll, shouldOverwrite);
		if ( existingPoll && !shouldOverwrite ) {
			return;
		}

		console.log('CrunCH, Muncho, CrunCH0!');
		// TODO: basic validation:
		// - winnerCount should be less than items.length
		// - items should each have a label and id
		// - RCV should be at least 3 items or what is the point
		// TODO: encode password so people can't just look in storage for it.
		poll.set({
			name: name,
			description: description,
			items: items,
			password: password,
			limitBallots: limitBallots,
			expectedVoters: expectedVoters,
			status: 'open', // one of 'prepared', 'open', 'closed', 'unlocked'
			type: pollType,
			winnerCount: winnerCount
		})
		ballotEntries.set([])
		alert('Poll is ready!')
		push('/vote')
	}

	function add() {
		items = items.concat({ active: true, label: '', id: null, description:'' });
	}

	/**
	 * Randomize array element order in-place.
	 * Using Durstenfeld shuffle algorithm.
	 */
	function shuffle() {
		for (let i = items.length - 1; i > 0; i--) {
			const j = Math.floor(Math.random() * (i + 1));
			[items[i], items[j]] = [items[j], items[i]];
		}
	}

	function remove(i) {
		// console.log("remove", i);
		items.splice(i, 1);
		items = items // needed to trigger svelte to rerender.
	}
</script>

<style>
	.note {
		font-weight: 400;
		font-style: italic;
		color: var(--secondary-fore-color); 
		font-size: 0.8rem;
	}

	/* input.ctrl {
		width: 80px;
	}

	span.ctrl {
		display: inline-block;
		width: 76px;
		padding: 5px;
		text-align: center;
	} */

	.x {
	  filter: grayscale(1);
		width: 68px;
	}

	@media screen and (min-width: 1280px) {
		.candidate-group {
			display: grid;
			grid-template-columns: 90px minmax(200px, 1fr) minmax(100px, 0.5fr) 2fr 96px;
			grid-template-rows: 1fr;
			margin: 18px 0;
		}
	}

	@media screen and (max-width: 1279px) {
		.candidate-group {
			display: grid;
			grid-template-columns: 90px minmax(200px, 2fr) minmax(100px, 1fr) 0 96px;
			grid-template-rows: 1fr 1fr;
			margin: 18px 0;
		}

		.candidate-group .item-d {
			grid-column: 2 / 4;
			grid-row: 2 / 3;
		}
	}

	.candidate-group .item-a {
		grid-column: 1;
		grid-row: 1 / 3;
		align-self: center;
		justify-self: center;
	}
	.candidate-group .item-e {
		grid-column: 5;
		grid-row: 1 / 3;
		align-self: center;
		justify-self: center;
	}

</style>

<h1>Create A New Poll</h1>
<form on:submit|preventDefault="{buildPoll}">
	<div class="container">
		<div class="row">
			<fieldset>
				<legend>Type:</legend>
				<div class="input-group vertical">
					<label>
						<input type="radio" name="pollType" bind:group={pollType} value="RCV" /> RCV (Ranked Choice Voting)
					</label>
					<label>
						<input type="radio" name="pollType" bind:group={pollType} value="Star" /> STAR (Score Then Automatic Runoff)
					</label>
				</div>
			</fieldset>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-12 col-md-6">
				<fieldset>
					<legend>Basic info:</legend>
					<p class="note">Appears at the top of each ballot</p>
					<div class="input-group vertical">
						<label for="pollName">
							Poll Name / Title
						</label>
						<input bind:value={name} name="pollName" />
					</div>
					<div class="input-group vertical">
						<label for="description">
							Description
						</label>
						<input bind:value={description} name="description" />
					</div>
				</fieldset>
			</div>
			<div class="col-sm-12 col-md-6">
				<fieldset>
					<legend>Options:</legend>
					<div class="input-group">
						<label for="limitBallots">
							Limit Voters
						</label>
						<input type="checkbox" name="limitBallots" bind:value={limitBallots} />
						<p class="note">Poll will close automatically as soon as expected nunber of ballots are submitted</p>
					</div>
					<div class="input-group vertical">
						<label for="expectedVoters">
							Expected Voters
						</label>
						<input type="number" bind:value={expectedVoters} name="expectedVoters" min="0" max="200">
					</div>
					<div class="input-group vertical">
						<label for="winnerCount">
							Number of winners
						</label>
						<input type="number" bind:value={winnerCount} name="winnerCount" min="1" max="12">
					</div>
					<div class="input-group vertical">
						<label for="password">Password</label>
						<input bind:value={password} name="password" type="password" />
					</div>
				</fieldset>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-12">
				<fieldset>
					<legend>Candidates:</legend>
						<div class="candidate-group">
							<span class="ctrl item-a">Active</span>
							<input name="labelLabel" class="item-b" value="label" disabled />
							<input name="idLabel" class="item-c" value="id" disabled />
							<input name="descriptionLabel" class="item-d" value="description" disabled />
							<span class="ctrl item-e">Remove</span>
						</div>
						<hr />
					{#each items as item, i}
						<div class:active={item.active} class="input-group candidate-group">
							<input
								type="checkbox"
								class="ctrl item-a"
								bind:checked={item.active}
							>
							<input
								placeholder="label"
								id={`label-${i}`}
								class="item-b"
								bind:value={item.label}
							>
							<input
								placeholder="id"
								id={`id-${i}`}
								class="item-c"
								bind:value={item.id}
							>
							<input
								placeholder="description"
								id={`description-${i}`}
								class="item-d"
								bind:value={item.description}
							>
							<button class="x item-e" type="button" on:click={() => remove(i)}>❌</button>
						</div>
						<hr>
					{/each}
					{#if (items.length < 9)}
						<button class="primary" type="button" on:click={add}>
							Add
						</button>
					{:else}
						<p><mark class="inline-block">for sanity sake poll size is limited to 10 for now!</mark></p>
					{/if}
					<button type="button" on:click={shuffle}>Shuffle</button>
				</fieldset>
			</div>
		</div>
	</div>
	<hr>
	<button type="submit" class="inverse large" >Build it!</button>
	<!-- <button type="button" on:click={document.getElementById('reusableDialog').showModal()}>Open Dialog</button> -->
</form>
