<script lang="ts">
	import NoPoll from './NoPoll.svelte';
	import BallotItem from './BallotItem.svelte';
	import { fade, fly } from 'svelte/transition';
	import { poll, ballotEntries } from './store.js';
	import type { Ballot, PollItem } from './main';

	let ballot: Ballot
	// holds the ranking temporarily - put into ballotEntries upon submit
	let pollItemsCopy: PollItem[] = $poll.items.map( (it: PollItem) => {return {...it, rank:null}});
	let voterId = ''
	let visible = true

	function submitVote(ev: Event) {
		visible = false
		ballot = {
			voter: voterId,
			votes: pollItemsCopy.map( it => {
				return {id:it.id, rank:it.rank}
			})
		}
		ballotEntries.update((ballots: Ballot[]) => {
			console.log('adding ballot', ballots)
			ballots.push(ballot)
			return ballots
		});
		// console.table(ballot);
		resetForm()
	}

	function resetForm(){
		// console.log('should be reseting')
		voterId = ''
		pollItemsCopy.forEach( (c) => {
			c.rank = null
		});
		pollItemsCopy[0].rank = null
		setTimeout( () => visible = true, 1000)
	} 

	function abstainVote(ev: Event) {
		visible = false
		ballot = {
			voter: voterId,
			votes: []
		}
		ballotEntries.update((ballots: Ballot[]) => {
			console.log('adding abstain ballot', ballots)
			ballots.push(ballot)
			return ballots
		});
		resetForm()
	}

	let reSortFlag = false

	function rankReSort(pollItemCopy: PollItem) {
		console.log('make sure candidate dont share same rank in RCV mode', pollItemCopy)
		let dup = pollItemCopy.rank ? pollItemsCopy.find(c => c.id != pollItemCopy.id && c.rank == pollItemCopy.rank) : null;
		if (dup) {
			if (dup.rank == pollItemsCopy.length) {
				dup.rank = null
			} else {
				dup.rank++
			}
			console.log('rank of', dup.id, 'decreased to', dup.rank)
			reSortFlag = true
			rankReSort(dup)
		} else {
			if (reSortFlag) {
				reSortFlag = false
				pollItemsCopy = pollItemsCopy // needed to trigger svelte to rerender. why?
				// but, now that candidates is stored in $poll ...
				console.log('reSort done')
			}
		}
	}

</script>

<style>
	#submitVote {
		margin: 2rem 4rem;
		padding: 1rem 3rem;
	}
	#skipVote {
		float:right;
	}
</style>

{#if $poll.status == 'undefined'}
	<NoPoll />
{:else if $poll.status != 'open'}
	<h2>Voting for {$poll.name} is not open</h2>
	<p>Poll status is <b>{$poll.status}</b> but needs to be set to "open" in order for ballots to be cast</p>
{:else}
	<h2>Vote for : {$poll.name}</h2>
	<h4>{$poll.description}</h4>
	{#if visible}
	<div out:fly="{{ y: 200, duration: 800 }}" in:fade>
	<form on:submit|preventDefault={submitVote}>
		<div class="container">
			<div class="row">

				<div class="col-sm-12 col-md-6">
					{#each pollItemsCopy as c}
						<BallotItem itemLabel={c.label} id={c.id} type={$poll.type} candidates={$poll.items} extraInfo={c.description} bind:rank={c.rank} on:change={()=> rankReSort(c)}/>
					{/each}
				</div>
				<div class="col-sm-12 col-md-6">
					<div class="input-group vertical">
						<label for="voterId">
							Voter Id
						</label>
						<input type="text" name="voterId" bind:value={voterId}>
					</div>
					<button id="skipVote" type="button" class="secondary" on:click={abstainVote}>Abstain</button>
				</div>
			</div>
		</div>
		<button id="submitVote" type="submit" class="primary large">Vote</button>
	</form>
	</div>
	{/if}
{/if}