<script>
	// import { createEventDispatcher } from 'svelte';

	export let itemLabel
	export let id
	export let type
	export let extraInfo
	export let rank
	export let candidates

	let rankingArray = []
	if (type == 'Star') {
		rankingArray = [1,2,3,4,5]
	} else {
		for (let i=1; i <= candidates.length; i++ ){
			rankingArray.push(i);
		};
		rankingArray.reverse();
	}

	// const dispatch = createEventDispatcher();

	// function changeRank(ev) {
	// 	// console.log(ev);
	// 	dispatch('rankChange', {
	// 		id: id,
	// 		rankVal:rank
	// 	});
	// }

</script>

<style>
	.ballot-item {
		border: 1px solid var(--ballot-item-border-color);
		background-color: var(--ballot-item-back-color);
		padding: 5px 20px 25px;
		margin-bottom: 10px;
	}

	.item-label {
		font-size: 2rem;
		font-weight: bold;

	}

	.input-group {
		background-color: var(--ballot-input-back-color);
		color: var(--ballot-input-color);
		border-radius: 2px;
		border-width: 1px;
		border-style: dashed;
		padding: 4px;
	}
	.input-group label{
		margin-right: 12px;
		vertical-align: middle;
	}

	.input-group input{
		vertical-align: bottom;
	}
	.input-group input:disabled {
		display: none;
	}

	/* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
	.rating-group {
		display: inline-flex;
	}

	/* hide radio inputs */
	.rating-group input[type="radio"] {
		position: absolute !important;
		left: -9999px !important;
	}

	/* set icon padding and size */
	.rating-group label {
		cursor: pointer;
		padding: 0 0.1em;
		font-size: 2rem;
	}

	.icon-star {
		padding: 10px;
		margin: 2px 24px 2px 0;
		transition: padding 0.3s, margin 0.3s;
	}

	.icon-star:hover {
		padding: 12px;
		margin: 0 20px 0 0;
	}

	/* set default star color */
	/* make all stars orange on rating group hover */
	.icon-star,
	.rating-group:hover label>.icon-star {
		filter: invert(80%) sepia(37%) saturate(6269%) hue-rotate(359deg) brightness(103%) contrast(104%);
	}

	/* if any input is checked, make its following siblings grey */
	/* make hovered input's following siblings grey on hover */
	.rating-group input[type="radio"]:checked ~ label .icon-star,
	.rating-group input:hover ~ label .icon-star {
		filter: invert(81%) sepia(0%) saturate(36%) hue-rotate(193deg) brightness(90%) contrast(86%);
	}
	
</style>

<div class="ballot-item">
	<label class="item-label" for={id+"-none"}>{itemLabel}</label>
	<p class="help">{extraInfo}</p>
	{#if type=="Star"}
		<div class='rating-group'>
			<input disabled checked name={id} id={id+"-none"} value="null" type="radio">
			{#each rankingArray as val }
				<label class="radio" aria-label={val +" star"} for={id+"-rating-"+val}>
					<span class="icon-star"></span>
				</label>
				<input id={id+"-rating-"+val} type="radio" name={id} bind:group={rank} value={val} >
			{/each}
		</div>
	{:else}
		<div class='input-group'>
			{#each rankingArray as val }
				<input disabled checked name={id} id={id+"-none"} value="null" bind:group={rank} type="radio" />
				<label class="radio" aria-label={val +" rank"} for={id+"-rating-"+val}>
					<input id={id+"-rating-"+val} type="radio" name={id} bind:group={rank} value={val} on:change />
					{val}
				</label>
			{/each}
		</div>
	{/if}
</div>
