<h2 class="routetitle">Help</h2>

<p>Use the menu to get around.</p>
<p>If a poll has not been setup then that is what needs to be done first. <a href="#/">Get started!</a></p>
<p>If a poll exists then go <a href="#/vote">to the voting screen</a></p>
<p>If it is time to end a poll then the go <a href="#/admin">to the admin screen</a> and ones the poll is closed the results would be visible <a href="#/tally">here</a></p>
