<script lang="ts">
	import NoPoll from "./NoPoll.svelte";
	import { ballotEntries, poll } from './store.js';

</script>

<style>
	.card {
		border: 1px solid #a1aabd;
	}
	.card-heading {
		border-bottom: 1px solid #a1aabd;
	}

	.card-footer {
		border-top: 1px solid #a1aabd;
		text-align: right;
	}

	.poll-key {
		text-align: right;
		display: inline-block;
		width: 250px;
		padding: 0 12px;
		color: var(--header-fore-color);
	}

	.poll-value {
		color: var(--table-border-separator-color);
	}

	
</style>

{#if ($poll.status == 'undefined') }
		<NoPoll />
{:else}
<div class="row">  
	<div class="col-sm-12 col-md-8 col-lg-6">
		<div class="card fluid">
			<div class="section card-heading">
				<h1>Existing poll:</h1>
			</div>
			<div class="section card-body">
				<p>
					<span class="poll-key">Poll Name:</span>
					<span class="poll-value">{$poll.name}</span>
				</p>
				<p>
					<span class="poll-key">Status:</span>
					<span class="poll-value">{$poll.status}</span>
				</p>
				<p>
					<span class="poll-key">Number of ballots cast:</span>
					<span class="poll-value">{$ballotEntries.length}</span>
				</p>
			</div>
			<div class="section card-footer">
				<a href="#/vote" class="button primary">Go Vote</a>
			</div>
		</div>
	</div>
</div>
{/if}
