
<style>
	.drawer-toggle {
		position: absolute;
		right: 0;
	}
	div {
		margin: 3rem .6rem;
	}
	p {
		border-bottom: 1px #aaa dashed;
		font-size: 1.4rem;
		padding: .8rem
	}

	:global(#sideMenuDrawer) {
		background-color:#d9e9e9;
	}
	:global(.dark-theme #sideMenuDrawer) {
		background-color:#0c5252;
	}

	:global(.dark-theme #sideMenuDrawer a) {
		color: #d9e9e9
	}

	:global(.dark-theme #sideMenuDrawer span[class^='icon-'] ) {
		filter: brightness(20)
	}

</style>

<label for="drawer-control" class="drawer-toggle persistent"></label>
<input type="checkbox" id="drawer-control" class="drawer persistent">


<div id="sideMenuDrawer">
	<!-- currently no reason for this not to be in index.html  -->
	<!-- Svelte component is 100% overkill at this point. -->
	<label for="drawer-control" class="drawer-close"></label>
	<div>
		<p>
			<span class="icon-info"></span>
			<a href="#/about"> About</a>
		</p>
		<p>
			<span class="icon-settings"></span>
			<a href="#/admin"> Admin</a>
		</p>
		<p>
			<span class="icon-edit"></span>
			<a href="#/vote"> Vote</a>
		</p>
		<p>
			<span class="icon-help"></span>
			<a href="#/help"> Help</a> 
		</p>
		<p>
			<span class="icon-theme grey"></span>
			<a href="#/theme"> Theme</a> 
		</p>
	</div>

</div>

