
<style>
	
</style>

<div class="row">
	<div class="card">
		<div class="section">
			<h3>No active poll</h3>
		</div>
		<div class="section">
			<p>Maybe you'd like to <a href="#/build">start a new poll</a></p>
		</div>
	</div>
</div>