<script type="ts">
	import { theme } from './store.js';

	$: themeSetter($theme)
</script>

<script context="module">

	export function themeSetter(themeName) {

	// if (!themeName) {
	// 	themeName = $theme
	// }
	switch (themeName) {
		case '':
		case 'nord':
			console.log('nord set')
			document.body.removeAttribute('class');
			break;
		case 'light':
			console.log('light set')
			document.body.setAttribute('class', 'light-theme');
			break;
		case 'dark':
			console.log('dark set')
			document.body.setAttribute('class', 'dark-theme');
			// these should probably be set in css file and just toggled with *-theme class, 
			// but maybe some not?
			// themeVars = {
			// 	'--fore-color': '#fdfdfd',
			// }
			// for (const varName in themeVars) {
			// 	r.style.setProperty(varName, themeVars[varName]);
			// }
			break;
		default:
			break;
	}
}
</script>

<form>
	<legend>Type:</legend>
	<div class="input-group vertical">
		<label>
			<input type="radio" name="theme" bind:group={$theme} value="nord" /> default
		</label>
		<label>
			<input type="radio" name="theme" bind:group={$theme} value="light" /> light
		</label>
		<label>
			<input type="radio" name="theme" bind:group={$theme} value="dark" /> dark
		</label>
	</div>
</form>
